<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    
    <!--文件迁移配置 g6hFilePrefix多个以 ; 分割--><!--
    <add key = "g6hFileSource" value = "F:\Code\WorkSpace\G6H_5.1R_JS\BusinessDlls" />
    <add key = "g6hFileTarget" value = "F:\G6HMidServer\NGWebSite" />
    <add key = "g6hFilePrefix" value = "GJS3.JS." />-->

    <add key = "g6hFileSource" value = "F:\Code\WorkSpace\G6H_5.1R\BusinessDlls" />
    <add key = "g6hFileTarget" value = "F:\G6HMidServer\NGWebSite" />
    <add key = "g6hFilePrefix" value = "GGD3.GD." />

    <!-- i6s生成文件快速迁移 -->
    <add key ="i6sFileRoot" value ="\\10.0.10.11\OutFile\ORMFiles"/>
    <add key ="i6sFilePrefix" value ="GJS3.JS"/>
    
    
  </appSettings>
  
  <connectionStrings>

    <!--wfm数据库连接配置-->
    <add name="wfm_sqlserver" connectionString="Server=10.0.20.46;Database=NG0001;User Id=sa;Password=123456;" />

    <!--dqw数据库连接配置-->
    <add name="dqw_oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST = 10.0.14.34)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dqw)));Persist Security Info=True;User ID=NG0001;Password=NG0001" />
    
  </connectionStrings>

</configuration>
